[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dynaconf = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
flasgger = "*"
marshmallow = "*"
apispec = "*"
setuptools = "*"
pyjwt = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-dance = {extras = ["sqla"],version = "*"}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.7"
